
    *{
      padding:0px ;
      margin: 0px ;
      box-sizing: border-box;
      font-family: 'Cairo', sans-serif;
      text-align: end;
    }
body {
    font-size: 15pt;
    overflow: hidden;
}آ



h4{
  width :100%;
  height :70vh;
  overflow: auto;
  padding: 5px 10px ;
}
nav{
  width: 100%;
  height: 50px ;
  background: #eee;
  box-shadow: 0px 1px 10px rgba(66, 68, 90, 0.46);
  margin-bottom: 10px ;
  padding: 0px 10px ;
  display: flex;
  justify-content: space-between;
  align-items: center ;
}
.list{
  width: 60px ;
  height: 50px ;
  display: flex;
align-items: center ;
justify-content: center ;
 
}
.list img{
  width: 70%;
}
    #home{
      background: #eee;
      color: whitesmoke;
      width: 0%;
      height :100vh ;
      font-size: 22px ;
      overflow: auto;
      font-weight: bolder;
      position: absolute;
      top: 0px ;
      right :0px ;

      transition: all 500ms;
    }#home p{
      background: #7A85FF;
      margin: 5px 10px ;
      border-radius: 10px ;
      text-align: end;
      padding: 0px 15px ;
      text-align: center;
    }
.box{
  width: 100%;
  height: 50px ;
  padding: 0px 15px ;
  display: flex;
  justify-content: right;
  align-items: center
}
.box img{

  width : 40px ;
}
.ay{
  background: #eee;
  color: black;
  width :100%;
height: 95vh;
overflow: auto ;
padding: 20px ;

}
/* 
.ay{
  background: #eee;
  color: black;
 

}




*/
.spes{
  width: 10%;
  height: 50px;
}
meter::-webkit-meter-optimum-value {
  background : none;
  background-color : whiteSmoke;
  box-shadow : 0 5px 5px -5px #333 inset;
  box-shadow: 0 5px 5px -5px #999 inset;
}




